.milcarou {
    background-color: #FBF3D5;
}

.main {
    background-color: #FBF3D5;
}

.d-block {
    border-radius: 5%;
}

#price {
    background-color: #D6DAC8;
}

#footer {
    background-color: #9CAFAA;
}